@media (max-width: 770px) { 
    
    .section .row {
        height: 750px;

        z-index: 1001;
        margin-top: 5px;
        overflow-x: scroll;
        overflow-y:hidden;

        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .section .col-sm-4{
        width: 100vh;
    }
    .about__card-turntable {
        margin-left: 20px;
    }

    .section .about__item{
        justify-content: center;
    }

    .page__number {
        display: none;
    }
}

@media (min-width: 1200px) {
    .section .about__item {
        max-width: 393px;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .section .col-xl {
        width: 33.3%;
    } 

    // .section2 .col-xl {
    //     width: 25%;
    // }
}

@media (max-width: 1200px) {
    .intro__programmers-title-first {
        width: 950px;
        font-size: 42px;
    }

    .button_more__catalog {
        width: 500px;
        height: 125px;
    }

    .purchase__catalog {
        font-size: 30px;
    }
}

@media (max-width: 990px) {
    .intro__programmers-title-first {
        width: 710px;
        font-size: 38px;
        margin-top: 100px;
    }

    .button_more__catalog {
        width: 374px;
        height: 94px;
    }

    .purchase__catalog {
        font-size: 26px;
    }
}

@media (max-width: 770px) {
    .intro__programmers-title-first {
        width: 530px;
        font-size: 34px;
        margin-top: 90px;
    }

    .button_more__catalog {
        width: 300px;
        height: 80px;
    }

    .purchase__catalog {
        font-size: 22px;
    }
}

@media (max-width: 580px) {
    .intro__programmers-title-first {
        width: 350px;
        font-size: 26px;
        margin-top: 90px;
    }

    .button_more__catalog {
        width: 250px;
        height: 70px;
    }

    .purchase__catalog {
        font-size: 19px;
    }
}



@media (max-width:470px){

}

// @media (max-width: 960px) {
//     .header__inner {
//         display: none;
//     }
// }