body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #000000;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../img/jpg/background/background.jpg) top no-repeat;
  background-size: cover;
}
.intro_-title-first {
  position: static;
  width: 480px;
  height: 119px;
  left: 0px;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  background: linear-gradient(99.78deg, #fc8800 37.65%, #fc8800 37.65%, #fead3f 69.16%, #ffbb59 69.17%, #ffa318 69.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: left;
  line-height: 1;
}
.intro_-title-second {
  position: static;
  width: 473px;
  height: 34px;
  left: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  background: linear-gradient(90.36deg, #fc8800 19.96%, #ffa318 73.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: left;
  line-height: 1;
}
.intro__inner {
  width: 100%;
  max-width: 480px;
  margin: 20% 0 0 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__programmers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background: url(../img/jpg/background/Crosley-Bermuda-I\ 1.jpg) top no-repeat;
  background-size: cover;
  margin-bottom: 110px;
}
.intro__programmers-title-first {
  width: 981px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin: auto;
  color: #FFFFFF;
  margin-top: 142px;
  margin-bottom: 92px;
}
.intro__records {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background: url(../img/jpg/background/hotel-records-w-aust\ 1.jpg) top no-repeat;
  background-size: cover;
}
/* Header */
.header {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(187, 187, 187, 0.5);
  backdrop-filter: blur(10px);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Nav */
.nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 16px;
  position: relative;
  text-decoration: none;
  color: #4B4B4B;
  transition: opacity .2s linear;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4B4B4B;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}
.nav__link:hover {
  opacity: 60%;
}
.nav__link.active {
  opacity: 60%;
}
.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}
/* Basket */
.basket__logo {
  display: flex;
  max-width: 160px;
  width: 100%;
  justify-content: space-between;
}
.basket-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #4B4B4B;
}
.basket-link:hover {
  opacity: 60%;
}
.price {
  display: flex;
  align-items: center;
}
/* Button */
.button_more {
  margin: 20px auto 0;
  width: 300px;
  height: 59px;
  background: linear-gradient(92.4deg, #fc8800 5.84%, #fa9f17 92.96%);
  border-radius: 110px;
  border: 0;
  transition: opacity .2s linear;
}
.purchase {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  color: #000;
  padding: 11px 68px 11px 68px;
  border-radius: 110px;
}
.purchase__catalog {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  margin: auto;
  color: #000000;
  text-decoration: none;
}
.button_more:hover {
  opacity: 85%;
}
.button_more:active {
  opacity: 70%;
}
.button__buy {
  width: 145.12px;
  height: 53px;
  background: #FFA319;
  box-shadow: 0px 9px 35px rgba(255, 163, 25, 0.51);
  border-radius: 110px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity .2s linear;
}
.section__purchase {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  border-radius: 110px;
}
.button__buy:hover {
  opacity: 85%;
}
.button__buy:active {
  opacity: 70%;
}
.button_more__catalog {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 516px;
  height: 129px;
  background: #FFA319;
  box-shadow: 0px 9px 35px rgba(255, 163, 25, 0.51);
  border-radius: 110px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity .2s linear;
}
.button_more__catalog:hover {
  opacity: 85%;
}
.button_more__catalog:active {
  opacity: 70%;
}
/* Section */
.section__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 110px;
  margin-bottom: 90px;
}
.section__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.section__about__albums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}
/* Selection items*/
.about__item {
  text-align: center;
}
.information__about__albums {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  min-height: 37px;
}
.manufacturer {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 25px;
}
.information__about {
  max-width: 200px;
  min-height: 37px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 33px;
}
.price__number {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.about__albums__item {
  text-align: center;
}
.images__albums {
  /* position: absolute; */
  width: 281px;
  height: 273px;
}
/* Selection page */
.page__number {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
.number {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: opacity .2s linear;
}
.number:hover {
  opacity: 60%;
}
.number.active {
  opacity: 60%;
}
.number:hover::after,
.number.active::after {
  opacity: 1;
}
/* Contacts */
.contacts {
  display: block;
  min-height: 450px;
  height: 100%;
  background: #000;
  background-size: cover;
}
.contacts__information-block {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-column-gap: 130px;
  color: #FFFFFF;
}
.contacts__about {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 87px;
  margin-bottom: 19px;
}
.image__icons {
  width: 100%;
  max-width: 90px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.contacts__topic {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 87px;
  margin-bottom: 41px;
}
.about__contacts__topic {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;
}
.about__topic {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}
.title__first_container {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #FCFCFC;
}
.intro__first_container {
  display: flex;
  align-items: center;
  text-align: center;
}
.intro__first_container {
  width: 100%;
  min-height: 39vh;
  background: url(../img/jpg/background/container\ 1.jpg) top no-repeat;
  background-size: cover;
}
.price_button-box:checked + label input[class="amount_button-box"] {
  pointer-events: none;
}
.price_button-box:checked + label input[class="brend_button-box"] {
  pointer-events: none;
}
.price_button-box:checked + label label[class="brend_button"] {
  pointer-events: none;
}
.price_button-box:checked + label label[class="amount_button"] {
  pointer-events: none;
}
.my__price {
  width: 393px;
  height: 62px;
  background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}
.menu__price {
  width: 373px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 10px 16px 10px;
}
.start,
.end {
  width: 122px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.ok {
  width: 45px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.my__brend {
  width: 200px;
  height: 130px;
  background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  background: #FFFBFB;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: 50%;
}
.my__amount {
  width: 100px;
  height: 130px;
  background: #F1F1F1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.my__amount::-webkit-scrollbar,
.my__brend::-webkit-scrollbar,
.my__price::-webkit-scrollbar {
  width: 7px;
  background-color: #c5c5c5;
}
.price_button-box,
.brend_button-box,
.amount_button-box {
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
.price_button-box:not(:checked) + label.label3 ~ div,
.brend_button-box:not(:checked) + label.label1 ~ div,
.amount_button-box:not(:checked) + label.label2 ~ div {
  display: none;
}
.brend_button-box:checked + label.label1 ~ div,
.price_button-box:checked + label.label3 ~ div,
.amount_button-box:checked + label.label2 ~ div {
  display: inline-block;
}
.buttons__examination {
  display: flex;
  width: 100%;
  max-width: 280px;
  justify-content: space-between;
}
input[type="search"] {
  width: 190px;
  background: #F8F8F8;
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;
}
.button__helper {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}
.my__search {
  display: flex;
}
.row {
  margin-top: 20px;
}
.about__card-turntable {
  margin-bottom: 30px;
}
.images {
  width: 380px;
  height: 386px;
}
.button__show_all {
  position: absolute;
  width: 180px;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 110px;
  margin-top: 106px;
}
.section__show_all {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.section__show_all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__text {
  position: absolute;
  margin-left: 800px;
  max-height: 408px;
  max-width: 480px;
  margin-top: 45px;
}
.second__text {
  position: absolute;
  max-height: 408px;
  max-width: 480px;
  margin-top: 630px;
}
.text {
  min-height: 408px;
  max-height: 408px;
}
.sub_title-all {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.title-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.intro__all_container {
  min-width: 100vh;
  min-height: 100vh;
  background: url(../img/jpg/background/back.jpg) top no-repeat;
  background-size: cover;
  margin-top: 190px;
}
.intro__second_container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 39vh;
  background: url(../img/jpg/background/back2.jpg) top no-repeat;
  background-size: cover;
}
.title__second_container {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
